In [1]:
import pandas as pd
import numpy as np
import os
import csv

In [2]:
df_cabbage = pd.read_csv(r"2016-2022高麗菜_data_file.csv")
df_weather = pd.read_csv(r"all_weather_data.csv")

In [3]:
df_cabbage.head(3)

,TransDate,CropCode,CropName,MarketCode,MarketName,Upper_Price,Middle_Price,Lower_Price,Avg_Price,Trans_Quantity,year,month,day
0,111.12.31,LA1,甘藍-初秋,260,宜蘭市,30.0,20.0,10.0,20.0,5500.0,2022,12,31
1,111.12.30,LA1,甘藍-初秋,260,宜蘭市,30.0,22.0,10.0,22.0,5800.0,2022,12,30
2,111.12.29,LA1,甘藍-初秋,260,宜蘭市,30.0,25.0,15.0,25.0,5800.0,2022,12,29

In [4]:
df_weather.head(3)

,day,測站氣壓(hPa),海平面氣壓(hPa),測站最高氣壓(hPa),測站最高氣壓時間(LST),測站最低氣壓(hPa),測站最低氣壓時間(LST),氣溫(℃),最高氣溫(℃),最高氣溫時間(LST),...,地溫0cm,地溫5cm,地溫10cm,地溫20cm,地溫30cm,地溫50cm,地溫100cm,觀測站,year,month
0,1,1021.2,1022.2,1024.0,2017/01/01 08:02:00,1018.9,2017/01/01 15:01:00,20.5,24.5,2017/01/01 12:40:00,...,20.9,21.3,21.2,20.7,20.4,21.0,22.0,宜蘭縣,2017,1
1,2,1019.1,1020.0,1020.7,2017/01/02 09:03:00,1017.6,2017/01/02 14:03:00,21.0,25.6,2017/01/02 12:29:00,...,22.5,22.2,22.1,21.4,21.0,21.5,22.0,宜蘭縣,2017,1
2,3,1019.3,1020.3,1021.3,2017/01/03 09:19:00,1017.6,2017/01/03 14:34:00,20.5,21.1,2017/01/03 08:41:00,...,20.8,21.6,22.2,21.7,21.5,22.5,22.0,宜蘭縣,2017,1

In [5]:
print(df_cabbage.shape)
print(df_weather.shape)

(1760, 13)
(2191, 45)

T 表示微量(小於 0.5mm)，x 表故障，& 代表降水量資料累積於後，V 表風向不定，/表不
明

In [6]:
def fix_rainfall_data(df):
    df['降水量(mm)'] = df['降水量(mm)'].replace('T', '0.0')
    df['降水量(mm)'] = df['降水量(mm)'].replace('X', '-1')
    df['降水量(mm)'] = pd.to_numeric(df['降水量(mm)'])
    return df

fix_rainfall_data(df_weather)['降水量(mm)']

0        4.5
1        0.0
2        7.5
3        1.0
4        0.0
        ...
2186     0.0
2187    25.0
2188    13.5
2189     1.0
2190    69.5
Name: 降水量(mm), Length: 2191, dtype: float64

In [7]:
def Max_10_mintes_fix_rainfall_data(df):
    df['最大十分鐘降水量(mm)'] = df['最大十分鐘降水量(mm)'].replace('T', '0.0')
    df['最大十分鐘降水量(mm)'] = df['最大十分鐘降水量(mm)'].replace('X', '-1')
    df['最大十分鐘降水量(mm)'] = pd.to_numeric(df['最大十分鐘降水量(mm)'])
    return df

def Max_60_mintes_fix_rainfall_data(df):
    df['最大六十分鐘降水量(mm)'] = df['最大六十分鐘降水量(mm)'].replace('T', '0.0')
    df['最大六十分鐘降水量(mm)'] = df['最大六十分鐘降水量(mm)'].replace('X', '-1')
    df['最大六十分鐘降水量(mm)'] = pd.to_numeric(df['最大六十分鐘降水量(mm)'])
    return df

def A_type_evaporation(df):
    df['A型蒸發量(mm)'] = df['A型蒸發量(mm)'].replace('/', '-1')
    df['A型蒸發量(mm)'] = pd.to_numeric(df['A型蒸發量(mm)'])
    return df

def All_sky_insolation(df):
    df['全天空日射量(MJ/㎡)'] = df['全天空日射量(MJ/㎡)'].replace('/', '-1')
    df['全天空日射量(MJ/㎡)'] = df['全天空日射量(MJ/㎡)'].replace('X', '-1')
    df['全天空日射量(MJ/㎡)'] = df['全天空日射量(MJ/㎡)'].replace('--', '-1')
    df['全天空日射量(MJ/㎡)'] = pd.to_numeric(df['全天空日射量(MJ/㎡)'])
    return df

def highest_UV_index_of_the_day(df):
    df['日最高紫外線指數'] = df['日最高紫外線指數'].replace('/', '-1')
    df['日最高紫外線指數'] = df['日最高紫外線指數'].replace('X', '-1')
    df['日最高紫外線指數'] = df['日最高紫外線指數'].replace('--', '-1')
    df['日最高紫外線指數'] = pd.to_numeric(df['日最高紫外線指數'])
    return df


Max_10_mintes_fix_rainfall_data(df_weather)
Max_60_mintes_fix_rainfall_data(df_weather)
A_type_evaporation(df_weather)
All_sky_insolation(df_weather)
highest_UV_index_of_the_day(df_weather)

,day,測站氣壓(hPa),海平面氣壓(hPa),測站最高氣壓(hPa),測站最高氣壓時間(LST),測站最低氣壓(hPa),測站最低氣壓時間(LST),氣溫(℃),最高氣溫(℃),最高氣溫時間(LST),...,地溫0cm,地溫5cm,地溫10cm,地溫20cm,地溫30cm,地溫50cm,地溫100cm,觀測站,year,month
0,1,1021.2,1022.2,1024.0,2017/01/01 08:02:00,1018.9,2017/01/01 15:01:00,20.5,24.5,2017/01/01 12:40:00,...,20.9,21.3,21.2,20.7,20.4,21.0,22.0,宜蘭縣,2017,1
1,2,1019.1,1020.0,1020.7,2017/01/02 09:03:00,1017.6,2017/01/02 14:03:00,21.0,25.6,2017/01/02 12:29:00,...,22.5,22.2,22.1,21.4,21.0,21.5,22.0,宜蘭縣,2017,1
2,3,1019.3,1020.3,1021.3,2017/01/03 09:19:00,1017.6,2017/01/03 14:34:00,20.5,21.1,2017/01/03 08:41:00,...,20.8,21.6,22.2,21.7,21.5,22.5,22.0,宜蘭縣,2017,1
3,4,1017.4,1018.4,1019.9,2017/01/04 09:07:00,1015.1,2017/01/04 14:34:00,21.7,26.1,2017/01/04 14:25:00,...,22.1,22.3,22.3,22.1,21.9,22.0,22.5,宜蘭縣,2017,1
4,5,1015.0,1016.0,1016.5,2017/01/05 08:54:00,1013.1,2017/01/05 15:00:00,21.9,27.9,2017/01/05 13:45:00,...,22.2,22.2,22.5,22.2,22.0,22.5,22.5,宜蘭縣,2017,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2186,27,1024.1,1025.1,1025.7,2022/12/27 09:21:00,1023.0,2022/12/27 14:27:00,15.5,17.2,2022/12/27 10:54:00,...,14.6,15.3,15.3,16.2,15.2,16.1,19.0,宜蘭縣,2022,12
2187,28,1023.9,1024.9,1025.8,2022/12/28 21:05:00,1021.9,2022/12/28 14:07:00,15.4,16.5,2022/12/28 11:26:00,...,15.1,15.7,15.7,16.3,15.4,16.1,19.0,宜蘭縣,2022,12
2188,29,1024.4,1025.4,1025.7,2022/12/29 09:12:00,1022.7,2022/12/29 14:36:00,15.7,16.6,2022/12/29 12:52:00,...,15.4,16.0,15.9,16.4,15.6,16.2,18.9,宜蘭縣,2022,12
2189,30,1024.9,1025.9,1026.5,2022/12/30 20:30:00,1022.4,2022/12/30 14:14:00,16.4,17.7,2022/12/30 12:21:00,...,16.0,16.6,16.4,16.7,16.0,16.3,18.8,宜蘭縣,2022,12
2190,31,1025.3,1026.3,1027.2,2022/12/31 09:32:00,1024.1,2022/12/31 14:47:00,16.0,16.9,2022/12/31 12:22:00,...,15.9,16.6,16.5,17.0,16.3,16.5,18.7,宜蘭縣,2022,12

In [8]:
string_columns = []
for col in df_weather:
        if(df_weather[col].dtypes=='object'):
            string_columns.append(col)

df_weather.drop(labels=string_columns,axis='columns',inplace=True)
print(df_weather.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2191 entries, 0 to 2190
Data columns (total 35 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   day                 2191 non-null   int64
 1   測站氣壓(hPa)           2191 non-null   float64
 2   海平面氣壓(hPa)          2191 non-null   float64
 3   測站最高氣壓(hPa)         2191 non-null   float64
 4   測站最低氣壓(hPa)         2191 non-null   float64
 5   氣溫(℃)               2191 non-null   float64
 6   最高氣溫(℃)             2191 non-null   float64
 7   最低氣溫(℃)             2191 non-null   float64
 8   露點溫度(℃)             2191 non-null   float64
 9   相對溼度(%)             2191 non-null   int64
 10  最小相對溼度(%)           2191 non-null   int64
 11  風速(m/s)             2191 non-null   float64
 12  風向(360degree)       2191 non-null   int64
 13  最大瞬間風(m/s)          2191 non-null   float64
 14  最大瞬間風風向(360degree)  2191 non-null   int64
 15  降水量(mm)             2191 non-null   float64
 16  降水時數(hour)          2191 non-null   float64
 17  最大十分鐘降水量(mm)        2191 non-null   float64
 18  最大六十分鐘降水量(mm)       2191 non-null   float64
 19  日照時數(hour)          2191 non-null   float64
 20  日照率(%)              2191 non-null   float64
 21  全天空日射量(MJ/㎡)        2191 non-null   float64
 22  能見度(km)             2191 non-null   float64
 23  A型蒸發量(mm)           2191 non-null   float64
 24  日最高紫外線指數            2191 non-null   int64
 25  總雲量(0~10)           2191 non-null   float64
 26  地溫0cm               2191 non-null   float64
 27  地溫5cm               2191 non-null   float64
 28  地溫10cm              2191 non-null   float64
 29  地溫20cm              2191 non-null   float64
 30  地溫30cm              2191 non-null   float64
 31  地溫50cm              2191 non-null   float64
 32  地溫100cm             2191 non-null   float64
 33  year                2191 non-null   int64
 34  month               2191 non-null   int64
dtypes: float64(27), int64(8)
memory usage: 599.2 KB
None

In [9]:
print(df_cabbage.shape)
print(df_weather.shape)

(1760, 13)
(2191, 35)

In [10]:
merged = pd.merge(df_cabbage,df_weather,on=['year', 'month', 'day'],how='inner')

In [11]:
merged.shape

(1465, 45)

In [12]:
merged.head(3)

,TransDate,CropCode,CropName,MarketCode,MarketName,Upper_Price,Middle_Price,Lower_Price,Avg_Price,Trans_Quantity,...,A型蒸發量(mm),日最高紫外線指數,總雲量(0~10),地溫0cm,地溫5cm,地溫10cm,地溫20cm,地溫30cm,地溫50cm,地溫100cm
0,111.12.31,LA1,甘藍-初秋,260,宜蘭市,30.0,20.0,10.0,20.0,5500.0,...,-1.0,2,10.0,15.9,16.6,16.5,17.0,16.3,16.5,18.7
1,111.12.30,LA1,甘藍-初秋,260,宜蘭市,30.0,22.0,10.0,22.0,5800.0,...,-0.1,3,10.0,16.0,16.6,16.4,16.7,16.0,16.3,18.8
2,111.12.29,LA1,甘藍-初秋,260,宜蘭市,30.0,25.0,15.0,25.0,5800.0,...,-0.1,1,10.0,15.4,16.0,15.9,16.4,15.6,16.2,18.9

In [13]:
merged.tail(3)

,TransDate,CropCode,CropName,MarketCode,MarketName,Upper_Price,Middle_Price,Lower_Price,Avg_Price,Trans_Quantity,...,A型蒸發量(mm),日最高紫外線指數,總雲量(0~10),地溫0cm,地溫5cm,地溫10cm,地溫20cm,地溫30cm,地溫50cm,地溫100cm
1462,106.01.04,LA1,甘藍-初秋,260,宜蘭市,10.0,7.0,5.0,7.0,3250.0,...,-0.9,5,8.0,22.1,22.3,22.3,22.1,21.9,22.0,22.5
1463,106.01.03,LA1,甘藍-初秋,260,宜蘭市,7.0,5.0,3.0,5.0,3560.0,...,-1.0,2,9.2,20.8,21.6,22.2,21.7,21.5,22.5,22.0
1464,106.01.01,LA1,甘藍-初秋,260,宜蘭市,7.0,5.0,3.0,5.0,3160.0,...,1.3,6,9.0,20.9,21.3,21.2,20.7,20.4,21.0,22.0

In [14]:
#時間軸反轉
merged.sort_values('TransDate', ascending=True, inplace=True)

#交易量上移一格
merged['Trans_Quantity'] = merged['Trans_Quantity'].shift(-1)
merged['Trans_Quantity'].fillna(0, inplace=True)

In [15]:
merged.tail(3)

,TransDate,CropCode,CropName,MarketCode,MarketName,Upper_Price,Middle_Price,Lower_Price,Avg_Price,Trans_Quantity,...,A型蒸發量(mm),日最高紫外線指數,總雲量(0~10),地溫0cm,地溫5cm,地溫10cm,地溫20cm,地溫30cm,地溫50cm,地溫100cm
2,111.12.29,LA1,甘藍-初秋,260,宜蘭市,30.0,25.0,15.0,25.0,5800.0,...,-0.1,1,10.0,15.4,16.0,15.9,16.4,15.6,16.2,18.9
1,111.12.30,LA1,甘藍-初秋,260,宜蘭市,30.0,22.0,10.0,22.0,5500.0,...,-0.1,3,10.0,16.0,16.6,16.4,16.7,16.0,16.3,18.8
0,111.12.31,LA1,甘藍-初秋,260,宜蘭市,30.0,20.0,10.0,20.0,0.0,...,-1.0,2,10.0,15.9,16.6,16.5,17.0,16.3,16.5,18.7

In [16]:
merged.head(3)

,TransDate,CropCode,CropName,MarketCode,MarketName,Upper_Price,Middle_Price,Lower_Price,Avg_Price,Trans_Quantity,...,A型蒸發量(mm),日最高紫外線指數,總雲量(0~10),地溫0cm,地溫5cm,地溫10cm,地溫20cm,地溫30cm,地溫50cm,地溫100cm
1464,106.01.01,LA1,甘藍-初秋,260,宜蘭市,7.0,5.0,3.0,5.0,3560.0,...,1.3,6,9.0,20.9,21.3,21.2,20.7,20.4,21.0,22.0
1463,106.01.03,LA1,甘藍-初秋,260,宜蘭市,7.0,5.0,3.0,5.0,3250.0,...,-1.0,2,9.2,20.8,21.6,22.2,21.7,21.5,22.5,22.0
1462,106.01.04,LA1,甘藍-初秋,260,宜蘭市,10.0,7.0,5.0,7.0,3160.0,...,-0.9,5,8.0,22.1,22.3,22.3,22.1,21.9,22.0,22.5

In [17]:
merged.columns

Index(['TransDate', 'CropCode', 'CropName', 'MarketCode', 'MarketName',
       'Upper_Price', 'Middle_Price', 'Lower_Price', 'Avg_Price',
       'Trans_Quantity', 'year', 'month', 'day', '測站氣壓(hPa)', '海平面氣壓(hPa)',
       '測站最高氣壓(hPa)', '測站最低氣壓(hPa)', '氣溫(℃)', '最高氣溫(℃)', '最低氣溫(℃)', '露點溫度(℃)',
       '相對溼度(%)', '最小相對溼度(%)', '風速(m/s)', '風向(360degree)', '最大瞬間風(m/s)',
       '最大瞬間風風向(360degree)', '降水量(mm)', '降水時數(hour)', '最大十分鐘降水量(mm)',
       '最大六十分鐘降水量(mm)', '日照時數(hour)', '日照率(%)', '全天空日射量(MJ/㎡)', '能見度(km)',
       'A型蒸發量(mm)', '日最高紫外線指數', '總雲量(0~10)', '地溫0cm', '地溫5cm', '地溫10cm',
       '地溫20cm', '地溫30cm', '地溫50cm', '地溫100cm'],
      dtype='object')

In [18]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1465 entries, 1464 to 0
Data columns (total 45 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   TransDate           1465 non-null   object
 1   CropCode            1465 non-null   object
 2   CropName            1465 non-null   object
 3   MarketCode          1465 non-null   int64
 4   MarketName          1465 non-null   object
 5   Upper_Price         1465 non-null   float64
 6   Middle_Price        1465 non-null   float64
 7   Lower_Price         1465 non-null   float64
 8   Avg_Price           1465 non-null   float64
 9   Trans_Quantity      1465 non-null   float64
 10  year                1465 non-null   int64
 11  month               1465 non-null   int64
 12  day                 1465 non-null   int64
 13  測站氣壓(hPa)           1465 non-null   float64
 14  海平面氣壓(hPa)          1465 non-null   float64
 15  測站最高氣壓(hPa)         1465 non-null   float64
 16  測站最低氣壓(hPa)         1465 non-null   float64
 17  氣溫(℃)               1465 non-null   float64
 18  最高氣溫(℃)             1465 non-null   float64
 19  最低氣溫(℃)             1465 non-null   float64
 20  露點溫度(℃)             1465 non-null   float64
 21  相對溼度(%)             1465 non-null   int64
 22  最小相對溼度(%)           1465 non-null   int64
 23  風速(m/s)             1465 non-null   float64
 24  風向(360degree)       1465 non-null   int64
 25  最大瞬間風(m/s)          1465 non-null   float64
 26  最大瞬間風風向(360degree)  1465 non-null   int64
 27  降水量(mm)             1465 non-null   float64
 28  降水時數(hour)          1465 non-null   float64
 29  最大十分鐘降水量(mm)        1465 non-null   float64
 30  最大六十分鐘降水量(mm)       1465 non-null   float64
 31  日照時數(hour)          1465 non-null   float64
 32  日照率(%)              1465 non-null   float64
 33  全天空日射量(MJ/㎡)        1465 non-null   float64
 34  能見度(km)             1465 non-null   float64
 35  A型蒸發量(mm)           1465 non-null   float64
 36  日最高紫外線指數            1465 non-null   int64
 37  總雲量(0~10)           1465 non-null   float64
 38  地溫0cm               1465 non-null   float64
 39  地溫5cm               1465 non-null   float64
 40  地溫10cm              1465 non-null   float64
 41  地溫20cm              1465 non-null   float64
 42  地溫30cm              1465 non-null   float64
 43  地溫50cm              1465 non-null   float64
 44  地溫100cm             1465 non-null   float64
dtypes: float64(32), int64(9), object(4)
memory usage: 526.5+ KB

In [19]:
merged.shape

(1465, 45)

In [20]:
# Define the columns for which you want to calculate the average
columns_to_average = ['測站氣壓(hPa)', '海平面氣壓(hPa)','測站最高氣壓(hPa)','測站最低氣壓(hPa)', '氣溫(℃)'
                      , '最高氣溫(℃)', '最低氣溫(℃)','露點溫度(℃)' ,'相對溼度(%)','最小相對溼度(%)','最大瞬間風(m/s)',
                      '降水量(mm)','降水時數(hour)','最大十分鐘降水量(mm)','最大六十分鐘降水量(mm)','日照時數(hour)','日照率(%)',
                      '能見度(km)','A型蒸發量(mm)','總雲量(0~10)','地溫0cm','地溫10cm','地溫20cm','地溫30cm','地溫50cm','地溫100cm']

# Calculate the average for each column based on the previous day's values
for column in columns_to_average:
    merged[column + '_avg60'] = merged[column].shift(1).rolling(window=60).mean()

for column in columns_to_average:
    merged[column + '_avg30'] = merged[column].shift(1).rolling(window=30).mean()

for column in columns_to_average:
    merged[column + '_avg15'] = merged[column].shift(1).rolling(window=15).mean()

# Drop rows with NaN values (first row, as there is no previous day)
merged = merged.dropna()

前一天的 middle price and Avg_Price

In [22]:
merged['last_day_Middle_Price'] = merged['Middle_Price'].shift(1)
merged['last_day_Avg_Price'] = merged['Avg_Price'].shift(1)
merged = merged.dropna()

In [23]:
merged.shape

(1404, 125)

In [24]:
merged.to_csv('Final_2017-2022_data_file.csv', index=False)